:root {
    box-sizing: border-box;
    --quick-easing: cubic-bezier(.39,.01,.16,1);
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

audio {
    display: block;
    width: 100%;
}

html {
    height: 100vh;
}
body {
    height: 100%;
}

#app {
    height: 100%;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_select {
    user-select: none;
}

.blank {
    width: 10px;
    display: inline-block;
}
